name: Deploy Monitoring Stack
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Test connection
        env:
          PROM_USER: "2822739"
          PROM_TOKEN: ${{ secrets.PROMETHEUS_API_KEY }}
        run: |
          curl -u "$PROM_USER:$PROM_TOKEN" -v "https://prometheus-prod-39-prod-eu-north-0.grafana.net/api/prom/api/v1/metadata" 2>&1 | head -20

      - name: Send one metric
        env:
          PROM_USER: "2822739"
          PROM_TOKEN: ${{ secrets.PROMETHEUS_API_KEY }}
        run: |
          echo "test_metric 1 $(date +%s)" | \
          curl -u "$PROM_USER:$PROM_TOKEN" \
            -X POST \
            -H "Content-Type: text/plain" \
            --data-binary @- \
            "https://prometheus-prod-39-prod-eu-north-0.grafana.net/api/prom/push" \
            && echo " Sent"